<ion-view view-title="{{menu-items}}" hide-back-button="false" class="stable-bg">
  <ion-content>
      
      <h2 class="stable">Add Menu Items</h2>
      <form class="list" ng-submit="meals">

      <div>{{message}}</div>

        <div class="list list-inset">
          <label class="item item-input light-color">
            <input type="text" placeholder="Menu item Name" ng-model="meal.name">
          </label>
          <label class="item item-input light-color">
            <input type="USD" placeholder="Price of Item" ng-model="meal.price">
          </label>
          <label class="item item-input light-color">
            <input type="text" placeholder="Meal Description" ng-model="meal.description">
          </label>  
          <label class="item item-input light-color">
            <input type="text" placeholder="Meal Picture" ng-model="meal.picture"> 
          </label>   
        </div>

          <button class="button button-block button-dark" type="submit" ui-sref="tab.restaurant">Add Meal</button>
      </form>

</ion-content>